.container
  .row
    .main-col.col-sm-8.col-lg-9
      %h1 Blog
      - @posts.each_with_index do |post, i|
        %h3
          = post.title
        %p
          = post.content.html_safe
        .post-categories
          - post.categories.each do |category|
            = link_to category.name, '#', class: 'label label-primary'
        %p.small
          Posted on
          = print_date(post.created_at)
        - if @posts.length != i + 1
          %hr
      .text-center
        = paginate @posts
    .sidebar-col.col-sm-4.col-lg-3
      = render 'shared/sidebar'
