%h3 Tags
.admin-columns
  .column-left
    .comment-body
      .panel
        %h4 Add New Tag
        = form_for @tag, url: admin_tags_path do |f|
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :description
            = f.text_area :description, class: 'form-control', rows: '5'
          .form-group
            = f.submit 'Add New Tag', class: 'btn btn-default'

  .column-right
    .panel.panel-bar.categories-bar
      = render 'shared/admin_search', objects: @tags, terms: @search_term, object_name: 'Categories', path: method(:admin_tags_path)
      .table-responsive
        %table.table
          %thead
            %tr
              %th Name
              %th Description
              %th Posts
              %th Delete
          %tbody
            - @tags.each do |tag|
              %tr
                %td
                  = link_to tag.name, edit_admin_tag_path(tag)
                %td
                  = truncate(tag.description, length: 40)
                %td
                  = tag.posts.size
                %td.text-center
                  = link_to admin_tag_path(tag), method: :delete, confirm: 'Are you sure? Please confirm.' do
                    %i.glyphicon.glyphicon-remove
