= form_for [:admin, @post], html: {class: 'admin-post-form'} do |f|
  .column-left
    .post-body
      .panel
        .form-group
          = f.label :title
          = f.text_field :title, class: 'form-control'
        .form-group
          = f.label :post_type_id, 'Post Type'
          = f.collection_select :post_type_id, @post_types, :id, :name, {}, { class: 'form-control' }
        .form-group
          = f.label :content, 'Content'
          = f.text_area :content, class: 'form-control', rows: '20'
  .column-right
    .panel
      %p
        %strong Publish
      %hr
      %p
        %i.glyphicon.glyphicon-flag
        Status:
        %strong
          = @post.publish_status_name
      .form-group
        %i.glyphicon.glyphicon-calendar
        = f.label :published_at, 'Published:'
        %br
        = f.datetime_select :published_at, prompt: { day: 'Day', month: 'Month', year: 'Year' }
      .form-group
        = f.hidden_field :publish_status
        = f.submit 'Save Draft', class: 'btn btn-default'
        = f.submit 'Publish', class: 'btn btn-primary pull-right'
    .panel
      %p
        %strong Categories
      %hr
      .form-group#categories-list
        = f.collection_check_boxes(:category_ids, @categories, :id, :name) do |b|
          = b.label(class: 'checkbox') { b.check_box(class: 'checkbox') + b.text }
        %a#add-new-category-dropdown
          %i.glyphicon.glyphicon-plus
          Add New Category
        .form-group#add-new-category-container
          = text_field_tag :new_category, nil, class: 'form-control'
          = link_to 'Add New Category', admin_categories_path, class: 'btn btn-default', id: 'add-new-category-submit'
    .panel
      %p
        %strong Tags
      %hr
      .form-group#tags-list
        = link_to 'Add', admin_tags_path, class: 'btn btn-default pull-right', id: 'add-new-tags-submit'
        .inline-form-input
          = text_field_tag :new_tag, nil, class: 'form-control', id: 'add-new-tags-input'
        #tags-input-list
          - @post.tags.each do |tag|
            = f.hidden_field :tag_ids, multiple: true, value: tag.id, id: nil
        %p
          %em Separate tags with commas
        #labels-list
          - @post.tags.each do |tag|
            .label.label-default
              = tag.name
