%h3 All Posts
.panel.panel-posts
  .panel-bar.posts-bar
    = form_tag admin_posts_path, method: :get, class: 'pagination-form' do
      = link_to_unless @posts.first_page?, '&laquo;'.html_safe, admin_posts_path(page: 1, search_term: @search_term) do
        = link_to '&laquo;'.html_safe, '', class: 'disabled'
      = link_to_if @posts.prev_page, '&lsaquo;'.html_safe, admin_posts_path(page: @posts.prev_page, search_term: @search_term) do
        = link_to '&lsaquo;'.html_safe, '', class: 'disabled'
      .form-group
        = text_field_tag 'page', @posts.current_page, maxlength: @posts.total_pages.to_s.length, class: 'form-control'
        = "of #{@posts.total_pages} "
        = hidden_field_tag 'search_term', @search_term, id: 'search_term_hidden'
        = submit_tag 'Submit', class: 'hidden'
      = link_to_if @posts.next_page, '&rsaquo;'.html_safe, admin_posts_path(page: @posts.next_page, search_term: @search_term) do
        = link_to '&rsaquo;'.html_safe, '', class: 'disabled'
      = link_to_unless @posts.last_page?, '&raquo;'.html_safe, admin_posts_path(page: @posts.total_pages, search_term: @search_term) do
        = link_to '&raquo;'.html_safe, '', class: 'disabled'
    = form_tag admin_posts_path, method: :get, class: 'bar-search' do
      = text_field_tag 'search_term', @search_term, class: 'form-control', placeholder: 'Search by Title'
      = submit_tag 'Search Posts', class: 'btn btn-default'
  .table-responsive
    %table.table
      %thead
        %tr
          %th Title
          %th Author
          %th Post Type
          %th Categories
          %th Tags
          %th Published
          %th Last Modified
          %th Delete
      %tbody
        - @posts.each do |post|
          %tr
            %td
              = link_to post.title, edit_admin_post_path(post)
            %td
              = post.user.full_name
            %td
              = post.post_type.name
            %td
              = print_list(post.categories, 'name')
            %td
              = print_list(post.tags, 'name')
            %td
              = print_date(post.published_at)
            %td
              = print_date(post.updated_at)
            %td.text-center
              = link_to admin_post_path(post), method: :delete, confirm: 'Are you sure? Please confirm.' do
                %i.glyphicon.glyphicon-remove
