%h3 All Posts
.panel.panel-posts
  .panel-bar.posts-bar
    = render 'shared/admin_search', objects: @posts, terms: @search_term, object_name: 'Posts', path: method(:admin_posts_path)
  .table-responsive
    %table.table
      %thead
        %tr
          %th Title
          %th Author
          %th Post Type
          %th Categories
          %th Tags
          %th Published
          %th Last Modified
          %th Delete
      %tbody
        - @posts.each do |post|
          %tr
            %td
              = link_to post.title, edit_admin_post_path(post)
            %td
              = post.user.full_name
            %td
              = post.post_type.name
            %td
              = print_list(post.categories, 'name')
            %td
              = print_list(post.tags, 'name')
            %td
              = print_date(post.published_at)
            %td
              = print_date(post.updated_at)
            %td.text-center
              = link_to admin_post_path(post), method: :delete, confirm: 'Are you sure? Please confirm.' do
                %i.glyphicon.glyphicon-remove
