%h3 Add New Post
= form_for [:admin, @post], html: {class: 'admin-post-form'} do |f|
  .column-left
    .post-body
      .panel
        .form-group
          = f.label :title
          = f.text_field :title, class: 'form-control'
        .form-group
          = f.label :post_type_id, 'Post Type'
          = f.collection_select :post_type_id, @post_types, :id, :name, {}, {class: 'form-control'}
        .form-group
          = f.label :content, 'Markup'
          = f.text_area :content, class: 'form-control', rows: '20'
        .form-group
          / TODO: handle media insertion and upload
          %label Photo
          %input.form-control(type="file")
  .column-right
    .panel
      %p
        %strong Publish
      %hr
      %p
        / TODO: status
        .glyphicon.glyphicon-flag
        Status:
      %p
        / TODO: publication date
        .glyphicon.glyphicon-calendar
        Published:
      .form-group
        / TODO: save draft submission
        %a.btn.btn-default Save Draft
        = f.submit 'Publish', class: 'btn btn-primary pull-right'
    .panel
      %p
        %strong Categories
      %hr
      .form-group
        = f.collection_check_boxes(:category_ids, @categories, :id, :name) do |b|
          = b.label(class: 'checkbox') { b.check_box(class: 'checkbox') + b.text }
    .panel
      %p
        %strong Tags
      %hr
      .form-group
        = text_field_tag 'post[tags]', nil, class: 'form-control'
      %p
        %em Separate tags with commas
