%h3 Categories
.admin-columns
  .column-left
    .comment-body
      .panel
        %h4 Add New Category
        = form_for @category, url: admin_categories_path do |f|
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :description
            = f.text_area :description, class: 'form-control', rows: '5'
          .form-group
            = f.submit 'Add New Category', class: 'btn btn-default'

  .column-right
    .panel.panel-bar.categories-bar
      = render 'shared/admin_search', objects: @categories, terms: @search_term, object_name: 'Categories', path: method(:admin_categories_path)
      .table-responsive
        %table.table
          %thead
            %tr
              %th Name
              %th Description
              %th Posts
              %th Delete
          %tbody
            - @categories.each do |category|
              %tr
                %td
                  = link_to category.name, edit_admin_category_path(category)
                %td
                  = truncate(category.description, length: 40)
                %td
                  = category.posts.size
                %td.text-center
                  = link_to admin_category_path(category), method: :delete, confirm: 'Are you sure? Please confirm.' do
                    %i.glyphicon.glyphicon-remove
