%h3 Dashboard
.panel.panel-welcome
  %h4
    Welcome to the Jeeter Dashboard!
  %h4
    %span.small Here are some helpful links to edit your site:
  .row
    .col-sm-4
      %ul
        %li
          = link_to 'View your site', root_path
        %li
          = link_to 'Write a blog post', new_admin_post_path
        %li
          %a Create another post type
    .col-sm-4
      %ul
        %li
          %a Upload a file
        %li
          %a Create a tag
        %li
          %a Review your comments
    .col-sm-4
      %ul
        %li
          %a Manage your profile
        %li
          %a Update site settings
.panel.panel-activity
  %h4
    Activity
  .row
    .col-sm-6
      %h4
        %span.small Recent Posts
      - @recent_posts.each do |post|
        %ul.list-unstyled
          %li
            %p
              = print_date(post.published_at)
              %a
                = post.title
    .col-sm-6
      %h4
        %span.small Comments
      - @recent_comments.each do |comment|
        %ul.list-unstyled
          %li
            = print_date(comment.created_at)
            %span
              = comment.author_name
              says:
            %p.gray
              = truncate(comment.content, length: 50)
